*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.back-btn
{
    height: 3rem;
    width: 3rem;
    position: fixed;
    background-color: black;
    color: white;
    font-size: 1rem;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    line-height: 3rem;
    bottom: 5rem;
    right: 5rem;
    z-index: 1;
}
.gallery-cont
{
    position:absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgb(77, 45, 50);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.media-cont
{
    height: 40vh;
    width: 16vw;
    border: 3px black solid ;
    background-color: gold;
    margin: 4rem;
}
.image-video
{
    height: calc(40vh - 3px - 3px - 5vh - 5vh);
    background-color: black;
}
.image-video > *
{
    height: 100%;
    width: 100%;
    object-fit: fill;
}
.action-btn{
    cursor: pointer;
    height:5vh;
    width: 100%;
    font-size: 2vh;
    font-weight: 700; /* Bold */
    color: rgb(99, 43, 43);
    text-align: center;
    line-height: 5vh;
}
.delete{
    background-color: rgb(80, 80, 109);
}
.download{
    background-color: rgb(193, 170, 39);
}

