* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.video-cont {
    height: 100vh;
    width: 100vw;
}

video {
    height: 100%;
    width: 100%;
    background-color: black;
    background-blend-mode: color-burn;
}

.actions-btn {
    z-index: 4;
    height: 15rem;
    width: 6rem;
    position: absolute;
    top: calc((100vh - 15rem) / 2);
    right: 5vw; /* Adjusted for responsiveness */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.actions-btn > * {
    width: 100%;
    height: 6rem;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
}

.record-btn,
.capture-btn {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}

.record-btn {
    background-color: red;
}

.capture-btn {
    background-color: black;
}

.timer {
    position: absolute;
    height: 5rem;
    width: 5rem;
    bottom: 2rem;
    left: 45vw;
    display: none;
    align-items: center;
    color: white;
    font-size: 3rem;
}

.filters {
    height: 16rem;
    width: 5rem;
    background-color: blue;
    position: absolute;
    top: calc((100vh - 16rem) / 2);
    left: 8vw; /* Adjusted for responsiveness */
    z-index: 4;
    cursor: pointer;
}

.filter {
    background-image: url('https://picsum.photos/id/17/2500/1667');
    height: 4rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-blend-mode: color-burn;
}

.filter-layer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
}

.gallery-cont {
    position: absolute;
    bottom: 5vh; /* Adjusted for responsiveness */
    right: 6vw; /* Adjusted for responsiveness */
    z-index: 4;
    cursor: pointer;
}

.material-symbols-outlined {
    font-size: 3rem;
    color: white;
}

/* Media Queries */

@media screen and (max-height: 496px) {
    .gallery-cont {
        left: 10vw; /* Adjusted for responsiveness */
        top: 1rem;
    }
}

@media screen and (max-height: 570px) {
    .timer {
        left: 45vw;
    }
}
